.container {
    text-align: center;
    width: 300px;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin-bottom: 20px;
}
.number {
    font-size: 50px;
    /* display: block; */
    padding: 10px;
    /* background-color: aquamarine; */
}
.total-number {
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    /* background-color: aquamarine; */
}
.button {
    font-size: 15px;
    margin: 10px 10px;    
}