.cart-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
}

.cart-header {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.cart-item img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.cart-item-details {
  flex: 1;
  margin-left: 15px;
}

.cart-item-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.cart-item-price {
  font-size: 16px;
  color: #262626;
  margin-top: 5px;
}

.cart-quantity {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.cart-quantity button {
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
}

.cart-quantity input {
  width: 40px;
  text-align: center;
  font-size: 16px;
  margin: 0 5px;
}

.cart-summary {
  background: #f8f8f8;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.cart-summary p {
  font-size: 18px;
  margin: 5px 0;
}

.cart-total {
  font-size: 22px;
  font-weight: bold;
  color: #d50000;
}

.cart-actions {
  text-align: right;
  margin-top: 20px;
}

.cart-actions button {
  background: #ff4040;
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.cart-actions button:hover {
  background: #d50000;
}

.cart-summary {
  border: 1px solid #9e9d9dbd;
  margin-top: 20px;
  text-align: center;
  padding: 15px;
  background: #f8f8f8;
  border-radius: 8px;
}

.cart-summary-sub {
  width: 200px;
  margin: auto;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  color: rgb(97, 97, 97);
  font-size: 16px;
  /* font-weight: bold; */
  /* margin: auto; */
}
.cart-total2 {
  padding-top: 20px;
}
.cart-total2 label,
.cart-total2 span {
  font-size: 22px;
  font-weight: bold;
}

.checkout-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.checkout-btn:hover {
  background: #219150;
}
