/**
  Global
*/
:root {
    /* color list */
    --color-primary: rgb(220, 220, 220);
    --color-black: #050a13;
    --color-white: #ffffff;
    --color-tomato: tomato;
  }
  
  /**
    Commons
  */
  * {
    box-sizing: border-box;
    font-family: "Open Sans";
  }
  
  .header,
  .footer,
  .content,
  body,
  div,
  nav,
  ul,
  li,
  p {
    margin: 0;
    padding: 0;
  }
  
  .header,
  .footer,
  .content {
    width: 1400px;
    margin: auto;
    /* border: 1px solid tomato; */
  }
  
  /**
    header 
  */
  .header-outer {
    /* border: 1px solid blue; */
    width: 100%;
    height: 70px;
    background-color: var(--color-primary);
  }
  .header {
    /* border: 1px solid red; */
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--color-primary);
  }
  
  .header-left {
    color: var(--color-tomato);
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .header-right * {
    text-decoration: none;
    color: var(--color-black);
    margin: 3px 5px;
  }
  
  .header-right {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
  }
  
  .header-right-icon {
    font-size: 14px;
  }
  
  /**
    banner
  */
  .banner {
    /* border: 1px solid blue; */
    background-image: url("http://localhost:3001/images/banner.jpg");
    width: 1400px;
    height: 400px;
    text-align: center;
    font-size: 20pt;
    font-style: italic;
    margin-bottom: 30px;
    padding-top: 20px;
  }
  
  /**
    product
  */
  .product-list {
    /* border: 1px solid red; */
    display: flex;
    padding-left: 8rem;
  }
  
  .product-avata {
    /* border: 1px solid green; */
    width: 400px;
    height: 480px;
    padding-left: 30px;
  }
  
  .product-avata img {
    width: 300px;
    height: 380px;
  }
  
  .product-detail {
    display: flex;
    gap: 2rem;
    margin-top: 40px;
    padding-left: 300px;
    height: 800px;
  }
  .product-detail img {
    width: 500px;
    height: 580px;
  }
  .product-detail ul {
    list-style-type: none;
    width: 450px;
    height: 580px;
  }
  .product-detail ul li {
    margin: 5px 0;
  }
  .product-detail-title {
    font-size: 18pt;
    font-weight: bold;
  }
  .product-detail-subtitle {
    border-top: 2px solid lightgray;
    padding-top: 10px;
    font-size: 10pt;
  }
  .product-detail-select1 {
    font-size: 10pt;
  }
  .product-detail-select2 {
    border: 1px dotted tomato;
    width: 85%;
    padding: 6px;
    margin: 10px 0;
  }
  .product-detail-button {
    background-color: var(--color-tomato);
    width: 100%;
    padding: 8px;
    color: var(--color-white);
    margin-top: 15px;
    border: none;
  }

  /**
  footer
*/
.footer-outer {
    width: 100%;
    background-color: #777;
  }
  .footer {
    /* background-color: var(--color-primary); */
    background-color: #777;
    color: var(--color-white);
    height: 100px;
    font-size: 12px;
    padding: 10px 20px;
  }
  .footer p {
    margin: 7px 5px;
  }