.avatar-container {
  width: 200px;
  border: 1px solid #777;
  padding: 10px;
  border-radius: 8px;
}
.avatar-img {
  width: 170px;
  border-radius: 100%;
  margin-top: 10px;
}
.container {
  display: flex;
  list-style: none;
  gap: 10px;
}
