@charset "utf-8";

/* ****************************************

*   title : header style
*   author : hong@naver.com
*   final date : 2024/10/24

******************************************* */

header {
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid var(--color-border);
}

/* header-top */
.header-top,
.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top {
  padding: 20px 0;
}
.header-top-logo {
  width: 350px;
  position: relative;
}
.header-top-logo > a > img {
  width: 120px;
}
.header-top-logo > span {
  position: absolute;
  top: 32px;
  left: 130px;
  overflow: hidden;
  letter-spacing: 5px;
  font-weight: 500;
}
.header-top ul,
.header-bottom ul {
  display: flex;
}
.header-top ul li a {
  padding: 30px 10px;
  color: var(--color-primary);
}

/* header-bottom */
.header-bottom {
  height: 40px;
}
.header-bottom dl {
  display: none;
}
.header-bottom li {
  padding: 10px 20px;
}
.header-bottom li a {
  font-weight: 700;
  color: var(--color-primary);
}

/* ****************************************

*   title : footer style
*   author : hong@naver.com
*   final date : 2024/10/24

******************************************* */

footer {
  width: 100%;
  height: 200px;
  background-color: var(--color-footer-bg);
}
.footer-content {
  width: 1200px;
  margin: 0 auto;
}

/* footer-intro */
.footer-intro > ul {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-silver);
}
.footer-intro > ul a {
  font-size: 12px;
  font-weight: bold;
  color: var(--color-primary);
}
.footer-intro > ul a:hover {
  text-decoration: underline;
}
.footer-intro > ul li:nth-child(7) a {
  color: var(--color-black);
  font-weight: 700;
  text-decoration: underline;
}

.footer-intro ~ p {
  color: var(--color-primary);
  font-size: 10px;
  font-weight: 600;
  padding: 3px 0;
}

.footer-intro + p {
  padding-top: 20px;
}

/* p 맨아래 padding-bottom 주기 */
