@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}

/* 공통된 부분은 :root로 묶는다 */
:root {
  /* color list */
  --color-primary: rgb(77, 77, 77);
  --color-black: #050a13;
  --color-white: #fff;
  --color-border: tomato;
  --color-silver: #d1d1d1;
  --color-footer-bg: rgb(248, 248, 248);
}
