@charset "utf-8";

/* contents */
#contents {
  width: 100%;
  overflow: hidden;
}

/* contents - content1 */
.content1 {
  width: 100%;
  background-color: black;
}
.content1_pre {
  width: 1200px;
  margin: 0 auto;
}

/* contents - content2 - 콘텐츠 무비차트 */
.content2 {
  width: 100%;
  background-color: ivory;
}

.content2_wrap {
  width: 1200px;
  margin: 0 auto;
}

/* contents - content2 -콘텐츠 무비차트 제목 */
.content2_m {
}

/* contents - content2 -콘텐츠 무비차트 포스트 */
.content2_p {
}
.content2_p ul {
}
.content2_p ul li {
}
.content2_p ul li div:first-child img {
  width: 200px;
}

/* contents - content3 */
.content3 {
  width: 1200px;
  margin: 0 auto;
}

/* contents - content3 - 이벤트 */
.content3_event {
}

/* contents - content3 - 특별관 */
.content3_special {
}
.content3_special div {
  display: flex;
  padding: 20px;
}

/* contents - content3 - 패키지, 기프트 */
.content3_p_g {
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  display: flex;
}
.content3_p_g div {
  width: 33.3333%;
  padding: 20px;
}
.package {
}
.ticket {
}
.giftcard {
}

/* contents - content3 - 공지사항 */
.content3_notice {
  display: flex;
}
