@charset "utf-8";
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

#wrap {
  overflow: hidden;
}

/* header */
#header {
  width: 100%;
  overflow: hidden;
}
.header_wrap {
  width: 1200px;
  margin: 0 auto;
}

/* header - head1 */
.header_wrap .head1 {
  display: flex;
  width: 100%;
  height: 100px;
}
.header_wrap .head1 div {
  width: 33.3333%;
}
.header_wrap .head1 .head1_logo {
}
.header_wrap .head1 .head1_logo img {
  width: 100px;
}
.header_wrap .head1 .head1_card {
}
.header_wrap .head1 .head1_nav {
}
.header_wrap .head1 .head1_nav ul {
  display: flex;
}

/* header - head2 */
.header_wrap .head2 {
  width: 100%;
  height: 50px;
}
.header_wrap .head2 .head2_nav {
  display: flex;
}
.header_wrap .head2 .head2_nav ul {
  display: flex;
}
.header_wrap .head2 .head2_nav dl {
  display: none;
}
