@charset "utf-8"

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}

/* 공통된 부분은 :root로 묶는다 */
:root {
  /* color list */
  --color-primary: rgb(77, 77, 77);
  --color-black: #050a13;
  --color-white: #fff;
  --color-border: tomato;
  --color-silver: #d1d1d1;
  --color-footer-bg: rgb(248, 248, 248);
  --color-moviechart: rgb(251, 251, 251);
  --color-buttoney: rgb(226, 226, 226);
  --color-gray-222: rgb(102, 102, 127);
  --color-font-frimary: rgb(34, 34, 34);
  --color-button: rgb(251, 67, 87);
  --color-login-font: rgb(137, 137, 135);
}

/* 콘텐츠 패딩 */
.content-padding {
  padding: 40px 0;
}

/* 컨텐츠 가운데 정렬 */
.center-layout {
  border: 1px solid tomato;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.center-title {
  border: 1px solid blue;
  padding: 40px 15px 10px;
  margin-bottom: 80px;
}

/* index-preview-button style */
.total-view-button {
  border: 1px solid var(--color-primary);
  padding: 7px 15px;
  border-radius: 20px;
}

/* moviechart, event, special => title style */
.content-title-tyle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content-title-sub-style {
  display: flex;
  justify-content: space-between;
}

.content-title-tyle-font {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-primary);
}
.content-title-sub-tyle-font {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--color-primary);
}

.font-color-main {
  color: var(--color-font-frimary);
}
.font-color-gray {
  color: var(--color-gray-222);
}
.btn-main-color {
  background-color: var(--color-button);
  border: 1px solid var(--color-white);
  color: var(--color-white);
  font-weight: 700;
}

/* top button */
.top_button {
  position: fixed;
  bottom: 100px;
  right: 150px;
}
.top_button a,
.top_button span {
  font-size: 2em;
  padding: 20px 30px;
  display: inline-block;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  background-color: var(--color-white);
}
.top_button span {
  border-radius: 40px;
  background-color: var(--color-button);
  color: var(--color-white);
  border: none;
  margin-right: 10px;
}

/* ****************************************

*   title : Login form style
*   author : hong@naver.com
*   final date : 2024/10/28

******************************************* */

.login-form form {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: var(--color-login-font);
  font-size: 14px;
}
.login-form ul {
  border: 1px solid green;
  width: 420px;
}
.login-form ul li {
  padding: 5px;
}
.login-form ul li:first-child p {
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-login-font);
}

.login-form button,
.login-form-input {
  width: 283px;
  padding: 10px;
  font-size: 12px;
}

.login-form button {
  outline-color: var(--color-button);
  outline-style: solid;
  outline-width: 1px;
}
.login-form ul li:nth-child(5) {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 9px;
}
.login-form ul li:nth-child(5) a {
  text-decoration: underline;
  font-weight: 700;
  color: var(--color-login-font);
}
.login-form ul li:nth-child(5) div:last-child > :nth-child(2) {
  padding-right: 10px;
}
.login-form ul li:last-child button {
  background-color: rgb(25, 205, 96);
  outline-color: #fff;
}

/* 로그인, 패스워드 아이콘 */
.login-form-input {
  display: block;
  border: 1px solid var(--color-silver);
}
.login-form-input input {
  border: none;
  border-left: 1px solid var(--color-silver);
  margin-left: 5px;
  outline: none;
  padding-left: 5px;
}
.login-form-input span i {
  color: #b1b1b1;
}

/* ****************************************

*   title : join form style
*   author : hong@naver.com
*   final date : 2024/10/29

******************************************* */
.join-form form {
  border: 1px solid green;
  width: 500px;
  margin: 0 auto;
}
.join-form ul {
  padding: 40px;
}
.join-form ul li {
  padding-top: 20px;
}
.join-form ul li div {
  border: 1px solid var(--color-silver);
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}
.join-form ul li:first-child > div,
.join-form ul li:nth-child(6) > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* title 설정 */
.join-form form ul li label {
  font-size: 1em;
  font-weight: 700;
  color: var(--color-primary);
  padding-right: 5px;
}
.join-form form ul li label + span {
  font-size: 0.7em;
  font-weight: 600;
  color: gray;
}

/* 인풋 */
.join-form form ul li input {
  border: none;
  outline: none;
  width: 100%;
  padding: 7px 0;
  padding-left: 10px;
}
/* id input */
.join-form ul li:first-child > div {
  padding: 5px;
}
.join-form ul li:first-child > div input {
  width: 60%;
  margin-right: 10px;
}
/* email input */
.join-form ul li:nth-child(6) > div {
  border: none;
  padding: 0;
}
.join-form ul li:nth-child(6) > div input,
.join-form ul li:nth-child(6) > div select {
  border: 1px solid var(--color-silver);
  border-radius: 7px;
  padding: 10px;
}
.join-form ul li:nth-child(6) > div input {
  width: 50%;
  margin-right: 20px;
  padding-left: 20px;
}
.join-form ul li:nth-child(6) > div select {
  width: 50%;
  margin-left: 20px;
}

/* 공통 버튼 */
.join-form form ul li button {
  padding: 8px 30px;
  background-color: var(--color-button);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 7px;
}
/* 가입하기, 가입취소 버튼 */
.join-form form ul li:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.join-form form ul li:last-child button {
  margin-right: 10px;
}
.join-form form ul li:last-child button:last-child {
  background-color: rgb(226, 226, 15);
}

/* ****************************************

*   title : My CGV form style
*   author : hong@naver.com
*   final date : 2024/10/29

******************************************* */
.mycgv div {
  display: flex;
  justify-content: center;
}
.mycgv div span {
  border: 1px solid tomato;
  display: inline-block;
  width: 220px;
  padding: 30px;
  text-align: center;
  margin: 30px 20px;
}
.mycgv div span:hover {
  background-color: var(--color-button);
}

/* ****************************************

*   title : Support form style
*   author : hong@naver.com
*   final date : 2024/10/29

******************************************* */

.support-content {
  border: 1px solid green;
  width: 800px;
  margin: 0 auto;
}

/* fonts */
.support-content p,
.support-content td {
  color: var(--color-gray-222);
  font-size: 14px;
}

/* input */
.support-content > div select,
.support-content > div input,
.support-content > div button {
  padding: 5px 10px;
}
.support-content > div select,
.support-content > div input {
  border: 1px solid var(--color-silver);
  color: var(--color-gray-222);
}
.support-content > div input {
  margin: 0 5px;
}
.support-content > p + div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0 10px;
}
.support-content > div button {
  border: 1px solid var(--color-white);
  background-color: var(--color-black);
  color: var(--color-white);
  outline: 1px solid var(--color-black);
}

/* 총 27건이 검색되었습니다 p태그 */
.support-content nav + p {
  padding: 30px 0 20px;
}

/* menu */
.support-content nav {
  border-bottom: 1px solid var(--color-gray-222);
  width: 100%;
}
.support-content nav ul {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: -1px;
}
.support-content nav ul li a {
  display: inline-block;
  text-align: center;
  width: 110px;
  border-right: 1px solid var(--color-white);
  padding: 12px;
  background-color: var(--color-gray-222);
  font-size: 12px;
  color: var(--color-white);
}
.support-content nav ul li:first-child a {
  background-color: var(--color-button);
}

/* table */
.support-content table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.support-content table th,
.support-content table td {
  padding: 15px;
}
.support-content table td a:hover {
  text-decoration: underline;
  font-weight: 700;
}
.support-content table thead tr th:nth-child(3),
.support-content table tbody tr td:nth-child(3) {
  text-align: left;
}
.support-content table thead {
  border-top: 1px solid var(--color-silver);
  border-bottom: 1px solid var(--color-silver);
  background-color: #f1f1f1;
}
.support-content table tbody {
  border-bottom: 1px solid var(--color-silver);
}
.support-content table tfoot {
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 1em;
}
.support-content table tfoot span:first-child {
  text-decoration: underline;
  color: var(--color-button);
}
.support-content table tfoot span:last-child {
  font-size: 12px;
  letter-spacing: -3px;
  border: 1px solid var(--color-silver);
  padding: 7px 10px;
  border-radius: 5px;
}
