@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}

/* 공통된 부분은 :root로 묶는다 */
:root {
  /* color list */
  --color-primary: rgb(77, 77, 77);
  --color-black: #050a13;
  --color-white: #fff;
  --color-border: tomato;
  --color-silver: #d1d1d1;
  --color-footer-bg: rgb(248, 248, 248);
  --color-moviechart: rgb(251, 251, 251);
  --color-buttoney: rgb(226, 226, 226);
  --color-gray-222: rgb(102, 102, 127);
  --color-font-frimary: rgb(34, 34, 34);
  --color-button: rgb(251, 67, 87);
  --color-login-font: rgb(137, 137, 135);
}

/* index-preview-button style */
.total-view-button {
  border: 1px solid var(--color-primary);
  padding: 7px 15px;
  border-radius: 20px;
}

/* 콘텐츠 패딩 */
.content-padding {
  padding: 40px 0;
}

/* moviechart, event, special => title style */
.content-title-tyle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content-title-sub-style {
  display: flex;
  justify-content: space-between;
}

.content-title-tyle-font {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-primary);
}
.content-title-sub-tyle-font {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--color-primary);
}

.font-color-main {
  color: var(--color-font-frimary);
}
.font-color-gray {
  color: var(--color-gray-222);
}
.btn-main-color {
  background-color: var(--color-button);
  border: 1px solid var(--color-white);
  color: var(--color-white);
  font-weight: 700;
}

