@charset "utf-8";

#contents {
  width: 100%;
  overflow: hidden;
}

/* content1 */
.content1 {
  width: 100%;
  background-color: #000;
}
.c1_inner {
  width: 1200px;
  margin: 0 auto;
}

/* content2 */
.content2 {
  background-color: ivory;
}
.c2_inner {
  width: 1200px;
  margin: 0 auto;
}
.c2_h {
}
.c2_p {
}
.c2_p ul {
  display: flex;
}
.c2_p img {
  width: 200px;
}

/* content3 */
.content3 {
  width: 1200px;
  margin: 0 auto;
}

/* content3 - 이벤트 */
.c3_event {
}
.c3_event div:first {
}
.c3_event div:first h2 {
}
.c3_event div:first button {
}

.c3_event img {
  width: 400px;
}

/* content3 - 스페셜관 */
.c3_special {
}
.c3_special img {
  width: 400px;
}

/* content3 - 패키지/영화관람권/기프트카드 */
.c3_ptg {
  display: flex;
  width: 1200px;
  text-align: center;
}
.c3_ptg > div {
  width: 33.3333%;
  border: 1px solid #dadada;
  border-radius: 20px;
}
.c3_ptg img {
  width: 200px;
}
.c3_package {
}
.c3_ticket {
}
.c3_gift {
}

/* content3 - 공지사항 */
.c3_notice {
  display: flex;
  width: 100%;
}

.c3_notice_innner {
  display: flex;
  width: 80%;
}

.c3_notice_innner > div {
  width: 50%;
  border: 1px solid #dadada;
  border-radius: 20px;
  padding: 20px;
}

.c3_n_1 > div:first-child {
  border-bottom: 1px solid #dadada;
  padding-bottom: 20px;
}

.c3_n_2 {
}
.c3_n_3 {
}
