@charset "utf-8";

/* ****************************************

*   title : header style
*   author : hong@naver.com
*   final date : 2024/10/24

******************************************* */

header {
  width: 100%;
  height: 150px;
  border-bottom: 4px solid rgba(255, 99, 71, 0.746);
}
.header-top,
.header-bottom-content {
  width: 1200px;
  margin: 0 auto;
}

/* header-top */
.header-top,
.header-bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top {
  padding: 20px 0;
}
.header-top-logo {
  width: 350px;
  position: relative;
}
.header-top-logo > a > img {
  width: 120px;
}
.header-top-logo > span {
  position: absolute;
  top: 32px;
  left: 130px;
  overflow: hidden;
  letter-spacing: 5px;
  font-weight: 500;
}
.header-top ul,
.header-bottom ul {
  display: flex;
}
.header-top ul li {
  margin-right: 20px;
  position: relative;
}
.header-top ul li:last-child {
  margin: 0;
}
.header-top ul li a {
  color: var(--color-primary);
}
.header-menu-icon {
  display: block;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 55px;
}
.header-menu-icon img {
  width: 36px;
  height: 36px;
  margin-bottom: 5px;
}
.header-menu-icon span {
  width: 55px;
  height: 19px;
  font-size: 12px;
  font-weight: 500;
  display: block;
  text-indent: -3px;
}

.header-top-card {
  position: relative;
  left: 100px;
  top: 5px;
}

/* header-bottom */
.header-bottom {
  width: 100%;
  height: 40px;
  padding: 5px 0;
  border-top: 1px solid var(--color-silver);
}
.header-bottom dl {
  display: none;
}
.header-bottom li {
  padding: 10px 20px;
}
.header-bottom li a {
  font-weight: 700;
  color: var(--color-primary);
}
.header-bottom-search {
  border-right: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  width: 250px;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.header-bottom-search input {
  width: 80%;
  border: none;
  padding: 0;
}

/* ****************************************

*   title : footer style
*   author : hong@naver.com
*   final date : 2024/10/24

******************************************* */

footer {
  width: 100%;
  height: 200px;
  background-color: var(--color-footer-bg);
}
.footer-content {
  width: 1200px;
  margin: 0 auto;
}

/* footer-intro */
.footer-intro > ul {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-silver);
}
.footer-intro > ul a {
  font-size: 12px;
  font-weight: bold;
  color: var(--color-primary);
}
.footer-intro > ul a:hover {
  text-decoration: underline;
}
.footer-intro > ul li:nth-child(7) a {
  color: var(--color-black);
  font-weight: 700;
  text-decoration: underline;
}

.footer-intro ~ p {
  color: var(--color-primary);
  font-size: 10px;
  font-weight: 600;
  padding: 3px 0;
}

.footer-intro + p {
  padding-top: 20px;
}

footer p:last-child {
  padding-bottom: 20px;
}

/* ****************************************

*   title : content style
*   author : hong@naver.com
*   final date : 2024/10/25

******************************************* */

.contents,
.content-top,
.contnet-moviechart {
  width: 100%;
}
.content-top {
  background-color: #000;
  position: relative;
  top: -3px;
}
.content-top > iframe,
.contnet-moviechart > div,
.content-event-special {
  display: block;
  width: 1200px;
  margin: 0 auto;
}
/* iframe은 inline 속성이다 */

.contnet-moviechart {
  background-color: var(--color-moviechart);
  padding: 40px 0;
}
/* 무비차트/상영예정작 타이틀 */
.contnet-moviechart-title {
  display: flex;
  justify-content: space-between;
}
/* 공통적으로 적용되는 클래스는 직접 셀렉팅하는 경우 부모를 직관적으로 지정함 */

.contnet-moviechart-title span:first-child {
  color: var(--color-black);
}
.contnet-moviechart-title span:first-child::after {
  content: "ㅣ";
  color: var(--color-gray-222);
  padding: 0 10px;
}

/* 무비차트/상영예정작 리스트 */

.contnet-moviechart-list {
}
.contnet-moviechart-list ul {
  display: flex;
  justify-content: space-between;
}
.contnet-moviechart-list ul li {
  padding: 15px 15px 0;
}
.contnet-moviechart-list ul li:first-child {
  padding-left: 0;
}
.contnet-moviechart-list ul li:last-child {
  padding-right: 0;
}
.contnet-moviechart-list ul li a img {
  width: 200px;
  border-radius: 20px;
}

.contnet-moviechart-list ul li h3 {
  text-align: center;
  padding: 5px 0;
}
.contnet-moviechart-list ul li div:last-child {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
}

/* 이벤트 섹션 */
.content-event,
.content-specia,
.content-pac-tik-gft {
  padding: 40px 0;
}

.content-event-list {
  display: flex;
}
.content-event-list li {
  padding: 20px;
}
.content-event-list li img {
  width: 310px;
  border-radius: 20px;
}
.content-event-list li p {
  padding: 5px;
}

.event-content-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-primary);
  margin-top: 10px;
}
.event-content-title-date {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary);
}

/* 특별관 섹션 */
.content-special-list {
  display: flex;
}
.content-special-list > div,
.content-special-list ul {
  width: 600px;
}
.content-special-list > div {
  margin-right: 40px;
}
.content-special-list > div > a > img {
  width: 100%;
}

.content-special-list ul li:hover {
  border: 1px solid #000;
  border-radius: 10px;
}
.content-special-list ul li:hover + li {
  border-top: 1px solid #fff;
}
.content-special-list ul li a {
  border-top: 1px solid var(--color-silver);
  padding: 21px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-special-list ul li a:last-child {
  border-bottom: 1px solid var(--color-silver);
}
.content-special-list ul li span:first-child {
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: bold;
}
.content-special-list ul li span:last-child {
  display: inline-block;
  padding: 5px;
  background-color: var(--color-silver);
}

/* 패키지, 영화관람권, 기프트카드 */
.package-content-list {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 30px 0;
}
.package-content-list img {
  width: 100px;
}
.package-title-font {
  font-size: 1.2em;
  font-weight: 600;
}
.package-title-button {
  border: 1px solid var(--color-silver);
  color: var(--color-primary);
  padding: 4px 8px;
  border-radius: 20px;
  background-color: #fff;
}

.package-content-border {
  border: 1px solid silver;
  border-radius: 20px;
  padding: 20px;
  width: 380px;
}
.package-content-border > div {
  display: flex;
  justify-content: space-between;
}
.package-content-border > ul li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

/* 공지사항 */
.notice-content-list,
.notice-content-list > div:first-child {
  display: flex;
  justify-content: space-between;
}

.notice-content-border {
  border: 1px solid var(--color-silver);
  border-radius: 20px;
  width: 900px;
  height: 300px;
  margin-bottom: 70px;
}
.notice-content-list > div > div:first-child {
  padding: 20px;

  border-right: 1px solid var(--color-silver);
  width: 70%;
}
.notice-content-list > div > div:nth-child(2) {
  width: 30%;
  padding: 20px;
}

.notice-content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-silver);
}
.notice-content-title > div span:first-child,
.notice-content-border > div > div > div:nth-child(2) h2 {
  margin-right: 40px;
}
.notice-content-title + div {
  padding-top: 20px;
}
.notice-content-title + div p {
  padding: 20px 0;
}

/* 고객센터 텍스트만 있는 애 */
.notice-content-border > div > div > div:nth-child(2) {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.notice-content-border > div > div > div:nth-child(2) p {
  padding-top: 0;
  line-height: 1.8;
}
.notice-content-border > div > div > div:nth-child(2) p span {
  font-weight: bold;
}

.notice-content-button > button {
  background-color: #e9e9e9;
  border: none;
  padding: 7px;
  font-size: 1em;
  font-weight: 700;
  margin-right: 15px;
  border-radius: 5px;
}

/* 앱다운로드 */
.download-content {
text-align: center;
}
.download-content h2 {
  padding-top: 20px;
}
.download-content p {
  font-size: 12px;
}
.download-content img + p {
  font-weight: bold;
  color: var(--color-gray-222);
}
.download-content img {
  width: 120px;
  padding: 30px;
}