header {
  padding: 20px 0;
  padding-bottom: 30px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
header img {
  width: 30%;
  margin-left: 20px;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: right;
  margin-right: 20px;
}

header ul button {
  border: none;
  background-color: #fff;
}

/******************************/
.body {
  width: 1000px;
  margin: auto;
}
.product-list-container {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  gap: 20px;
  text-align: center;
}

.Product-conteiner {
  width: 220px;
}
.Product-conteiner img {
  width: 220px;
}
.Product-conteiner .title {
  color: gray;
  font-weight: bold;
  text-align: center;
}
.Product-conteiner .descripttion {
  font-size: 10pt;
  padding: 5px;
}
.Product-conteiner .price {
  text-align: center;
}
.Product-conteiner .fprice {
  font-size: 14pt;
  font-weight: bold;
  color: red;
}

.Product-conteiner .tags {
  text-align: center;
}
.Product-conteiner .tags span {
  font-size: 9px;
  padding: 3px 5px;
  border-radius: 20px;
  color: #fff;
}
.Product-conteiner .tags .t1 {
  background-color: tomato;
}
.Product-conteiner .tags .t2 {
  background-color: rgb(42, 179, 133);
}
.Product-conteiner .tags .t3 {
  background-color: pink;
}

.cart {
  color: lightgray;
}
.cart:hover {
  color: coral;
}
