@charset "utf-8";

/* ****************************************

*   title : header style
*   author : ll9105@naver.com
*   final date : 2024/11/01

******************************************* */

/* header */
.header-home {
  background-color: var(--color-black);
  position: relative;
}

/*  로고, 메뉴 */
.header-home-logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  position: fixed;
  background-color: var(--color-black);
  top: 0;
  left: 0;
  z-index: 100;
}
.header-home-logo h2 img {
  width: 40px;
  margin-right: 5px;
}
.header-home-logo h2 span {
  position: relative;
  top: 3px;
  color: var(--color-white);
}
.header-home-logo nav ul {
  display: flex;
}
.header-home-logo nav ul li a {
  display: inline-block;
  padding: 7px 12px;
  color: var(--color-white);
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
}
.header-home-logo nav ul li:hover a {
  border: 2px solid var(--color-main);
}

/* 프로필 */
.header-home-profile {
  text-align: center;
  padding: 40px 0 80px;
  margin-top: 70px;
}
.header-home-profile ul li {
  margin-bottom: 25px;
  color: var(--color-white);
}
.header-home-profile ul li:last-child {
  margin-bottom: 0px;
}
.header-home-profile li:first-child img {
  border: 5px solid var(--color-main);
  border-radius: 50%;
}

.header-profile-title {
  font-size: 2.3em;
  font-weight: 1000;
  line-height: 25px;
}
.header-profile-title span {
  color: var(--color-main);
}
.header-home-profile li a {
  display: inline-block;
  background-color: var(--color-main);
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  font-weight: 700;
}

/* ****************************************

*   title : footer style
*   author : ll9105@naver.com
*   final date : 2024/11/01

******************************************* */
#footer {
  background-color: var(--color-black);
  text-align: center;
  padding: 80px 0 20px;
}
#footer h1 {
  color: var(--color-white);
}
#footer p {
  margin-top: 15px;
  color: var(--color-white);
}
#footer i {
  font-size: 24px;
  color: var(--color-white);
}
#footer i:first-child {
  margin-right: 10px;
}
#footer p:last-child {
  font-size: 12px;
}

/* ****************************************

*   title : contents style
*   author : ll9105@naver.com
*   final date : 2024/11/01

******************************************* */

/* 공통 */
#about_me,
#my_skills,
#my_work,
#testimonia {
  padding: 40px;
}
.about_me-title,
.my_skills-title,
.my_work-title,
.testimonia-title {
  text-align: center;
}
#my_skills h2,
#my_skills h3,
#my_skills p,
#my_skills span,
#my_skills li,
#my_work h2,
#my_work h3,
.my_work-menu ul li a {
  color: var(--color-white);
}

/* about me */
.about_me-lang ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.about_me-lang {
  margin-bottom: 40px;
}
.about_me-lang li {
  padding: 40px 10px 20px;
  background-color: var(--color-black);
  border-radius: 20px;
  margin-right: 20px;
  box-shadow: 3px 6px 10px 0px rgba(127, 127, 127, 0.75);
}
.about_me-lang li:last-child {
  margin: 0;
}
.about_me-lang li p {
  margin-bottom: 15px;
  color: var(--color-white);
}
.about_me-lang li p:last-child {
  font-size: 14px;
}
.about_me-icon {
  font-size: 48px;
  color: var(--color-main);
}
.about_me-work > div {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}
.about_me-work > div:last-child {
  margin: 0;
}
.about_me-work > div img {
  width: 60px;
  height: 25px;
  margin-right: 10px;
}
.about_me-work > div p {
  font-size: 13px;
}
.about_me-work > div p:first-child {
  font-weight: 600;
}

/* my skill */
#my_skills {
  background-color: var(--color-sub);
}

.my_skills-box {
  display: flex;
  box-shadow: 3px 6px 15px 0px var(--color-black);
}

/* font */
.my_skills-coding h3,
.my_skills-tools h3 {
  text-align: center;
  color: var(--color-main);
  margin-bottom: 20px;
}
.my_skills-title p {
  margin-bottom: 40px;
}
.my_skills-coding li span {
  font-size: 1em;
  font-weight: 600;
}

.my_skills-coding {
  width: 60%;
  background-color: var(--color-black);
  padding: 30px;
}
.my_skills-coding ul {
  overflow: hidden;
}
.my_skills-coding li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid var(--color-sub);
  padding: 10px 0;
  margin-bottom: 10px;
  position: relative;
}
.my_skills-coding li:after {
  content: "";
  width: 100%;
  border: 1px solid var(--color-main);
  position: absolute;
  bottom: -3px;
}
/* 스킬 게이지바 */
.my_skills-coding li:first-child:after {
  right: 20px;
}
.my_skills-coding li:nth-child(2):after,
.my_skills-coding li:nth-child(3):after {
  right: 70px;
}
.my_skills-coding li:nth-child(4):after {
  right: 140px;
}
.my_skills-coding li:nth-child(5):after {
  right: 145px;
}
.my_skills-coding li:nth-child(6):after {
  right: 210px;
}

.my_skills-tools {
  width: 40%;
  text-align: center;
}
.my_skills-tools > div {
  padding: 30px;
  height: 50%;
}

.my_skills-etc {
  background-color: #070f1c;
}

/* my work */
#my_work {
  background-color: var(--color-black);
}
.my_work-menu {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.my_work-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my_work-menu ul li a {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  border: 1px solid var(--color-main);
  margin-right: 10px;
  border-radius: 5px;
}
.my_work-menu ul li a:hover {
  background-color: var(--color-main);
  color: var(--color-black);
}
.my_work-img {
  margin: 40px 0;
}
.my_work-img ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my_work-img ul:first-child {
  margin-bottom: 20px;
}
.my_work-img ul li {
  margin-right: 20px;
  width: 25%;
}
.my_work-img ul li:last-child {
  margin: 0;
}
.my_work-img img {
  width: 100%;
  border-radius: 10px;
}

/* testimonial */
#testimonia {
  padding-bottom: 80px;
}
.testimonia-title {
  margin-bottom: 40px;
}
.testimonia-list {
  padding: 20px;
}
.testimonia-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.testimonia-list li img {
  width: 150px;
  border-radius: 50%;
  box-shadow: 3px 6px 10px 0px #b1b1b1;
}
.testimonia-list-txt {
  box-shadow: 3px 6px 10px 0px #b1b1b1;
  margin: 20px;
  padding: 20px;
}
.testimonia-list-txt span {
  color: #67c1c7;
  font-weight: 700;
}

.testimonia-list-txt p:last-child {
  margin-top: 5px;
}
